fastapi[all]
sse-starlette
asyncio
uvicorn[standard]
pydantic
email-validator
passlib
python-jose[cryptography]
python-multipart
SQLAlchemy==1.4.36
psycopg2-binary==2.9.3
aiokafka==0.7.2
pymongo==4.1.1
